.ansible_vault_pass
.nixos-test-history

roles/tmux/files/tmux/plugins/*
!roles/tmux/files/tmux/plugins/tpm

roles/neovim/files/nvim/lazy-lock.json

/extra-files/

**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfvars

/lab-kube-config
/result
