[submodule "config/alacritty/catppuccin"]
	path = config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
	shallow = true
[submodule "config/hypr/catppuccin"]
	path = config/hypr/catppuccin
	url = https://github.com/catppuccin/hyprland.git
  shallow = true
[submodule "ansible-yay"]
	path = ansible-yay
	url = https://github.com/mnussbaum/ansible-yay.git
[submodule "sddm/themes/sugar-dark"]
	path = sddm/themes/sugar-dark
	url = https://github.com/MarianArlt/sddm-sugar-dark.git
