[submodule "config/hypr/catppuccin"]
	path = roles/hyprland/files/hypr/catppuccin
	url = https://github.com/catppuccin/hyprland.git
	shallow = true
[submodule "ansible-yay"]
	path = library/ansible-yay
	url = https://github.com/mnussbaum/ansible-yay.git
	shallow = true
[submodule "oh-my-zsh/themes/powerlevel10k"]
	path = oh-my-zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
  shallow = true
[submodule "roles/kitty/files/kitty/catppuccin"]
	path = roles/kitty/files/kitty/catppuccin
	url = https://github.com/catppuccin/kitty.git
	shallow = true
[submodule "library/ansible-homebrew-services"]
	path = library/homebrew-services
	url = https://github.com/luizribeiro/ansible-homebrew-services.git
	shallow = true
[submodule "roles/tmux/files/tmux/plugins/tpm"]
	path = roles/tmux/files/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	shallow = true
