[submodule "config/hypr/catppuccin"]
	path = roles/hyprland/files/hypr/catppuccin
	url = https://github.com/catppuccin/hyprland.git
	shallow = true
[submodule "ansible-yay"]
	path = library/ansible-yay
	url = https://github.com/mnussbaum/ansible-yay.git
	shallow = true
[submodule "library/ansible-homebrew-services"]
	path = library/homebrew-services
	url = https://github.com/luizribeiro/ansible-homebrew-services.git
	shallow = true
