[Unit]
Description=Hyprland session
Requires=basic.target
BindsTo=graphical-session.target
Before=graphical-session.target

DefaultDependencies=no
Requires=basic.target
StopWhenUnneeded=yes

