[Unit]
Description=Aylur's GTK Shell
PartOf=graphical-session.target
After=graphical-session.target
BindsTo=graphical-session.target

[Service]
Slice=background-graphical.slice
ExecStart=ags
ExecStop=ags -q
Restart=on-failure

[Install]
WantedBy=graphical-session.target

