[Unit]
Description=A solution to your Wayland wallpaper woes.
PartOf=hypr-session.target
After=hypr-session.target

[Service]
ExecStart=swww-daemon
Restart=on-failure

[Install]
WantedBy=hypr-session.target

