[Unit]
Description=changes the desktop wallpaper to a random image
PartOf=hypr-session.target
After=hypr-session.target
Requires=wallpaper-random.service

[Timer]
Unit=wallpaper-random.service
OnCalendar=*:0/5

[Install]
WantedBy=hypr-session.target
