[Unit]
Description=Changes the desktop wallpaper to a random image
Requires=swww.service
Wants=wallpaper-random.timer

[Service]
Type=oneshot
ExecStart=%h/wallpapers/random.sh %h/wallpapers/

